.u-section-1 .u-sheet-1 {
  min-height: 1323px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 36px auto 0;
}

.u-section-1 .u-form-1 {
  height: 561px;
  width: 570px;
  margin: 36px auto 0;
}

.u-section-1 .u-label-1 {
  letter-spacing: 0px;
}

.u-section-1 .u-label-2 {
  letter-spacing: 0px;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-label-3 {
  letter-spacing: 0px;
}

.u-section-1 .u-passive-icon-1 {
  display: none;
  height: 40px;
  width: 40px;
}

.u-section-1 .u-passive-icon-2 {
  display: none;
  height: 40px;
  width: 40px;
}

.u-section-1 .u-passive-icon-3 {
  display: none;
  height: 40px;
  width: 40px;
}

.u-section-1 .u-passive-icon-4 {
  display: inline;
  height: 40px;
  width: 40px;
}

.u-section-1 .u-passive-icon-5 {
  display: inline;
  height: 40px;
  width: 40px;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-label-4 {
  letter-spacing: 0px;
}

.u-section-1 .u-passive-icon-6 {
  display: none;
  height: 40px;
  width: 40px;
}

.u-section-1 .u-passive-icon-7 {
  display: none;
  height: 40px;
  width: 40px;
}

.u-section-1 .u-passive-icon-8 {
  display: none;
  height: 40px;
  width: 40px;
}

.u-section-1 .u-passive-icon-9 {
  display: inline;
  height: 40px;
  width: 40px;
}

.u-section-1 .u-passive-icon-10 {
  display: inline;
  height: 40px;
  width: 40px;
}

.u-section-1 .u-form-group-5 {
  margin-left: 0;
}

.u-section-1 .u-label-5 {
  letter-spacing: 0px;
}

.u-section-1 .u-passive-icon-11 {
  display: none;
  height: 40px;
  width: 40px;
}

.u-section-1 .u-passive-icon-12 {
  display: none;
  height: 40px;
  width: 40px;
}

.u-section-1 .u-passive-icon-13 {
  display: none;
  height: 40px;
  width: 40px;
}

.u-section-1 .u-passive-icon-14 {
  display: inline;
  height: 40px;
  width: 40px;
}

.u-section-1 .u-passive-icon-15 {
  display: inline;
  height: 40px;
  width: 40px;
}

.u-section-1 .u-form-group-6 {
  margin-left: 0;
}

.u-section-1 .u-label-6 {
  letter-spacing: 0px;
}

.u-section-1 .u-form-group-7 {
  margin-left: 0;
}

.u-section-1 .u-label-7 {
  letter-spacing: 0px;
}

.u-section-1 .u-form-group-8 {
  margin-left: 0;
}

.u-section-1 .u-label-8 {
  letter-spacing: 0px;
}

.u-section-1 .u-btn-1 {
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
}

.u-section-1 .u-line-1 {
  width: 912px;
  margin: 36px auto 21px;
}

@media (max-width: 991px) {
  .u-section-1 .u-line-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-form-1 {
    width: 540px;
  }

  .u-section-1 .u-line-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-form-1 {
    width: 340px;
  }

  .u-section-1 .u-line-1 {
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 75px;
}

.u-section-2 .u-text-1 {
  font-size: 0.875rem;
  margin: 17px auto 42px;
}